/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.side-bar-head{
    background-color: #532B6D;
}


.side-bar-head-text {
    padding: 10px 10px 10px 15px;
    color: white;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.drop-down-title {
    padding: 10px 10px 5px 15px;
    font-size: 12px;
}

.property-kind-drop-down {
    padding: 2px 10px 2px 15px;
    width:100%;
}
.property-kind-drop-down-button {
    padding: 10px 10px 10px 15px;
    width: 100%;
    font-size: 13px;

}
.dropdown-menu {
    padding: 10px 0px 10px 0px;
    width: 93% !important;
}
.chrome.dropdown-toggle::after {
    text-align: right;
    float: right;
    /*Chrome IE fix*/
    margin-top: 8px;
}

.input-borrow-amount {
    border-color: #6C757D;
    padding: 10px 20px 20px 15px;
    width:97%;
}

.input-amount-box {
    padding-left: 15px;
    width: 100%;
}

.start-over-button {
    padding-left: 15px;
    width: 100%;
    border:none;
}

.btn-light {
    padding: 10px 20px 20px 15px;
    width: 97%;
    background-color: transparent;
    color: #82c23e;
    font-weight:bold;
}

.loan-header-box{
    height:80px;
   
}

.loan-option-header {
    font-size: 27px;
    color: #6f6f6f;
    font-weight: 500;
    padding-top: 20px;
}

.box-header-five {
    border-color: #6C757D;
    background-color: #532B6D;
    color: white;
    height:35px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:30px;
}

.box-header-five-text{
    margin-top:5px;
}

.box-header-ten {
    border-color: #6C757D;
    background-color: #3e91B0;
    color: white;
    height: 35px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.box-header-ten-text {
    margin-top: 5px;
}

.box-header-15 {
    border-color: #6C757D;
    background-color: #FDB443;
    color: white;
    height: 35px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.box-header-15-text {
    margin-top: 5px;
}

.main-box{
    background-color:#F3F3F4;
    border-color: #6C757D;
    border:thin;
}

@media only screen
    and (min-width: 767px)
    and (max-width: 998px){
        .interest-rate-text{
            margin-right:30px;
        }
        .interest-rate-value {
            margin-left: 30px;
        }

        .interest-rate-text-ten {
            margin-right: 30px;
        }

        .interest-rate-value-ten {
            margin-left: 30px;
        }

        .interest-rate-text-15 {
            margin-right: 30px;
        }

        .interest-rate-value-15 {
            margin-left: 30px;
        }
}

@media only screen and (max-width: 575px){
    .loan-option-header {
        font-size: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .interest-rate-text {
        margin-right: 30px;
        font-size:10px !important;
    }
    .interest-rate-value {
        margin-left: 29px;
    }
    .interest-rate-text-ten {
        margin-right: 25px;
    }

    .interest-rate-value-ten {
        margin-left: 29px;
    }
    .interest-rate-text-15 {
        margin-right: 25px;
    }

    .interest-rate-value-15 {
        margin-left: 29px;
    }

    .ltv-text {
        margin-right: 30px;
    }
    .ltv-value{
        margin-left: 30px;
        font-size:7px !important;
    }

    .last-row-cell{
        font-size: 6px !important;
    }
    .loan-option-header{
        font-size: 23px;
    }
    .property-kind-drop-down-button{
        font-size:7px !important;
    }
}

.interest-rate-text {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    margin-left: 30px;
}

.interest-rate-value {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    margin-right: 30px;
    color: #532B6D;
}

.interest-rate-value-ten {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    margin-right: 30px;
    color: #3e91B0;
}

.interest-rate-value-15 {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    margin-right: 30px;
    color: #FDB443;
}

.ltv-text {
    color: #AFAFAF;
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    margin-left: 30px;
}

.ltv-value {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    margin-right: 30px;
    color: #AFAFAF;
}



.line {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    color: #AFAFAF;
}

.last-row{
    padding-bottom:15px;
    margin-bottom:15px;
}

.last-row-cell{
    padding-bottom:25px;
}
.what-next-box {
    background-color: #F3F3F4;
    border-color: #6C757D;
    border: thin;
}
.who-next {
    padding-top: 10px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;


}


.what-next-text{
    border-color: grey;
    background-color: white;
    color: grey;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    padding-top: 30px;
    font-weight:bold;
}

.what-next-text-small {
    border-color: grey;
    background-color: white;
    color: grey;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;   
}

.green-text {
    color: #82c23e;
    font-weight: bold;
}

.full-name {
    border-color: grey;
    background-color: white;
    color: grey;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.bottom{
    margin-bottom:10px;
}